$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1600px;

$primary-theme-color: #588757;
$primary-button-color: #6a9d67;
$primary-button-hover-color: #467146;
$primary-font-color: #fff;

$primary-background: rgba(0, 0, 0, 0.6);
$second-background: rgba(0, 0, 0, 0.1);

.App {
  display: block;
  /* background-color: #ece9e6; */
  background: #fcfbfa;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.content_margin {
  margin: 0px 100px 0px 100px;
}

.full_width {
  width: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.top-section {
  height: 60px;
  padding: 8px;
  background: #3f3a36;
  display: flex;
  justify-content: center;
}

.breadcrumb {
  height: calc(3.1948881789vw + 39.8817891374px);
  background: #100f0e;
  color: #fff;
  display: flex;
  .breadcrumb-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.head-section {
  background: url(./img/xenia-head-img.jpg);
  padding: 66px 0px 0px 0px;
  background-size: cover;
  background-position: 42% 0px;
  background-repeat: no-repeat;
  // background-size: cover;
  .head-section-content {
    //  min-height: calc(13.2530120482vw + 187.951807229px + -8.9rem);
    padding: 0px 38px 0px 38px;
  }
}

nav {
  transform: translateY(-100%);
  background: $primary-background;
  height: 66px;
  padding: 0px 38px 0px 38px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;

  .nav-item {
    display: flex;
    width: 75%;
    ul {
      width: 100%;
      display: flex;
      margin: 0;
      li {
        list-style: none;
        * {
          color: $primary-font-color;
          // transition: opacity 0.3s ease;
          // text-decoration: none;
        }
        div {
          padding: 0 15px;
          font-size: 0.9rem;
          height: 100%;
          display: flex;
          align-items: center;
          transition: border-bottom 0.2s linear;
          border-bottom: 5px solid;
          box-sizing: border-box;
          border-color: $second-background;

          a {
            float: left;
            display: block;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            // border-bottom: 3px solid transparent;
            transition: 1s;
          }
          &:hover {
            border-bottom: 5px solid $primary-theme-color;
            opacity: 0.75;
          }
        }
      }
    }
  }

  .contact-button-container {
    display: flex;
    align-items: center;
    button {
      height: 40px;
      border-radius: 3px;
      padding: 0px 15px 0px 15px;
      color: $primary-font-color;
      background-color: $primary-button-color;
      border-color: $primary-theme-color;
      font-size: 0.9em;
      font-weight: 500;
      transition: 0.2s;
      &:hover {
        cursor: pointer;
        background-color: $primary-button-hover-color;
      }
    }
  }
}

.main-section {
  padding-top: 3em;
  padding-bottom: 3.5em;
}

@media only screen and (min-width: $breakpoint-xs) {
  .head-section-content {
    min-height: 243px;
  }
}

@media only screen and (min-width: $breakpoint-md) {
  .head-section-content {
    min-height: 281px;
  }
}
